@page "/addproduct"
@using MyStore.UI.Models
@using MyStore.UI.Services
@using Blazorise.Icons.FontAwesome

@inject IProductsServiceProxy ProductsServiceProxy

<CardBody>
        <CardText>
            <Div>
                Наименование: <TextEdit @bind-Text="@_storeItemInfo.Name" />
            </Div>
            <Div>
                Описание: <TextEdit @bind-Text="@_storeItemInfo.Description" />
            </Div>
        </CardText>

        <button type="button" class="btn btn-primary" @onclick="AddingProduct">Добавить</button>
    </CardBody>

@code {
    private StoreItemInfo? _storeItemInfo = new(Guid.NewGuid(), "", "");

    async Task AddingProduct()
    {  
        await ProductsServiceProxy.AddProduct(_storeItemInfo);
    }

}
