@page "/addproduct"
@using MyStore.UI.Models
@using MyStore.UI.Services
@using Blazorise.Icons.FontAwesome

@inject IProductsServiceProxy ProductsServiceProxy
<h3>Карточка продукта: </h3>
<CardBody>
        <CardText>
            <Div>
                Наименование: <TextEdit @bind-Text="p.Name" />
            </Div>
            <Div>
                Описание: <TextEdit @bind-Text="p.Desc" />
            </Div>
            <Div>
            Цена: <TextEdit @bind-Text="p.Price" />
            </Div>
        </CardText>

        <button type="button" class="btn btn-primary" @onclick="AddingProduct">Добавить</button>
    </CardBody>

@code {
    private StoreItemInfo? _storeItemInfo;
    ProductE p = new("", "", "");

    async Task AddingProduct()
    {  
        _storeItemInfo = new StoreItemInfo
            {
                Id = Guid.NewGuid(),
                Name = p.Name,
                Description = p.Desc,
                Price = p.Price
            };
        await ProductsServiceProxy.AddProduct(_storeItemInfo);
    }

    public class ProductE
    {
        public string? Name { get; set; }
        public string? Desc { get; set; }
        public string? Price { get; set; }

        public ProductE(string Name, string Desc, string Price)
        {
        }
    }
}
