@page "/addproduct"
@using MyStore.UI.Models
@using MyStore.UI.Services
@using Blazorise.Icons.FontAwesome

@inject IProductsServiceProxy ProductsServiceProxy

<CardBody>
        <CardText>
            <Div>
                Наименование: <TextEdit @bind-Text="p.Name" />
            </Div>
            <Div>
                Описание: <TextEdit @bind-Text="p.Desc" />
            </Div>
        </CardText>

        <button type="button" class="btn btn-primary" @onclick="AddingProduct">Добавить</button>
    </CardBody>

@code {
    private StoreItemInfo? _storeItemInfo;
    ProductE p = new("", "");

    async Task AddingProduct()
    {  
        _storeItemInfo = new StoreItemInfo
            {
                Id = Guid.NewGuid(),
                Name = p.Name,
                Description = p.Desc
            };
        await ProductsServiceProxy.AddProduct(_storeItemInfo);
    }

    public class ProductE
    {
        public string? Name { get; set; }
        public string? Desc { get; set; }

        public ProductE(string Name, string Desc)
        {
        }
    }
}
