@page "/products"
@using MyStore.UI.Models
@using MyStore.UI.Services

@inject IProductsServiceProxy ProductsServiceProxy

@if(_products == null)
{
    <p>Loading...</p>
}
else
{
    <Table Striped>
    <TableHeader>
        <TableHeaderCell>Наименование</TableHeaderCell>
        <TableHeaderCell>Описание</TableHeaderCell>
    </TableHeader>
    <TableBody>
        @foreach (var product in _products)
            {
                <TableRow>
                    <TableRowCell>@product.Name</TableRowCell>
                    <TableRowCell>@product.Description</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    private IEnumerable<ProductItem> _products = Enumerable.Empty<ProductItem>();

    protected override async Task OnInitializedAsync()
    {
        _products = await ProductsServiceProxy.GetAllProducts();
    }
}